<% include partials/header %>

<h1>Create a New Castle</h1>

<form action="/castles" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button>Submit!</button>
</form>

<a href="/castles">Go Back</a>

<% include partials/footer %>