<% include partials/header %>

    <h1>
        <%=castle.name%>
    </h1>

    <img src="<%=castle.image%>" alt="Image of <%=castle.name%>">

    <p>
        <%=castle.description%>
    </p>

    <% include partials/footer %>